## Higgs dataset preprocessing

From the paper:

[M. De Domenico, A. Lima, P. Mougel and M. Musolesi. The Anatomy of a Scientific Rumor. (Nature Open Access) Scientific Reports 3, 2980 (2013).](http://www.nature.com/srep/2013/131018/srep02980/full/srep02980.html)

In [33]:
import os
import time
import numpy as np
import scipy as sp
import pandas as pd
import networkx as nx
import matplotlib as mpl
import matplotlib.pyplot as plt
import datetime as dt
import itertools


# Customize plot colors for dark backgrounds
%matplotlib inline
mpl.rcParams['axes.edgecolor'] = 'grey'
mpl.rcParams['grid.color'] = '#66CCCC'
mpl.rcParams['text.color'] = '#0EBFE9'
mpl.rcParams['xtick.color'] = '#66CCCC'
mpl.rcParams['ytick.color'] = '#66CCCC'
mpl.rcParams['axes.labelcolor'] = '#0EBFE9'

import IPython.utils.path
DATA_DIR = os.path.join(IPython.utils.path.get_home_dir(), 'data/higgs/')
print 'Data directory:', DATA_DIR
dataset_name = 'higgs'

%load_ext autoreload
%autoreload 2

Data directory: /home/ubuntu/data/higgs/
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Parse data

### Parse activity

In [2]:
def create_graph_from_activity(activity_df, action='RT'):
    g = nx.DiGraph()
    df = activity_df[activity_df['action'] == action]
    g.name = 'Higgs ' + action
    for idx, d in df.iterrows():
        src = d['src_id']
        tgt = d['tgt_id']
        if not g.has_edge(src, tgt):
            g.add_edge(src, tgt, weight=1)
        else:
            g[src][tgt]['weight'] += 1

    return g

ACTIVITY = pd.read_csv(os.path.join(DATA_DIR, 'HiggsDiscovery_multiplex_time.txt'), 
                       sep=' ', header=None, names=['src_id', 'tgt_id', 'timestamp', 'action'],
                       dtype={'src_id': np.int64, 'tgt_id': np.int64, 'timestamp': np.int64, 'action': str},
                       index_col=2)

ACTIVITY['action'] = ACTIVITY['action'].astype(str)
ACTIVITY.index = pd.to_datetime(ACTIVITY.index.values * 1e9)
ACTIVITY.index.name = 'timestamp'
# G = create_graph_from_activity(ACTIVITY, 'RT')
# print nx.info(G)

In [29]:
G = create_graph_from_activity(ACTIVITY, 'RE')
print nx.info(G)

Name: Higgs RE
Type: DiGraph
Number of nodes: 39940
Number of edges: 33728
Average in degree:   0.8445
Average out degree:   0.8445

### Parse retweet graph

In [3]:
start = time.time()
# path = os.path.join(DATA_DIR, 'HiggsDiscovery_RT.edges.gz')
# RETWEET = nx.read_edgelist(path, create_using=nx.DiGraph(),
#                            nodetype=int, data=(('weight', int),))
# RETWEET.name = 'Higgs RT'
# nx.write_gpickle(RETWEET, os.path.join(DATA_DIR, 'retweet.gpickle'))
RETWEET = nx.read_gpickle(os.path.join(DATA_DIR, 'retweet.gpickle'))
print 'Retweet graph loaded in:', time.time() - start
print nx.info(RETWEET)

Retweet graph loaded in: 9.10212087631
Name: Higgs RT
Type: DiGraph
Number of nodes: 257827
Number of edges: 334208
Average in degree:   1.2962
Average out degree:   1.2962

### Parse mention graph

In [25]:
start = time.time()
# MENTION = nx.read_edgelist(os.path.join(DATA_DIR, 'HiggsDiscovery_MT.edges.gz'), 
#                            create_using=nx.DiGraph(), nodetype=int, data=(('weight', int),))
# MENTION.name = 'Higgs MT'
# nx.write_gpickle(MENTION, os.path.join(DATA_DIR, 'mention.gpickle'))

MENTION = nx.read_gpickle(os.path.join(DATA_DIR, 'mention.gpickle'))
print 'Mention graph loaded in:', time.time() - start
print nx.info(MENTION)

Mention graph loaded in: 7.37287902832
Name: Higgs MT
Type: DiGraph
Number of nodes: 118659
Number of edges: 156371
Average in degree:   1.3178
Average out degree:   1.3178

### Parse reply graph

In [28]:
start = time.time()
# REPLY = nx.read_edgelist(os.path.join(DATA_DIR, 'HiggsDiscovery_RE.edges.gz'),
#                          create_using=nx.DiGraph(), nodetype=int, data=(('weight', int),))
# REPLY.name = 'Higgs RE'
# nx.write_gpickle(REPLY, os.path.join(DATA_DIR, 'reply.gpickle'))

REPLY = nx.read_gpickle(os.path.join(DATA_DIR, 'reply.gpickle'))
print 'Reply graph loaded in:', time.time() - start
print nx.info(REPLY)

Reply graph loaded in: 1.68447113037
Name: Higgs RE
Type: DiGraph
Number of nodes: 39940
Number of edges: 33728
Average in degree:   0.8445
Average out degree:   0.8445

### Parse social network (follower network)

In [91]:
start = time.time()
# SOCIAL = nx.read_edgelist(os.path.join(DATA_DIR, 'HiggsDiscovery_social.edges.gz'),
#                           create_using=nx.DiGraph(), nodetype=int, )
# SOCIAL.name = 'Higgs SOCIAL'
# nx.write_gpickle(SOCIAL, os.path.join(DATA_DIR, 'social.gpickle'))

SOCIAL = nx.read_gpickle(os.path.join(DATA_DIR, 'social.gpickle'))
print 'Social graph loaded in:', time.time() - start
print nx.info(SOCIAL)

Social graph loaded in: 56.2548730373
Name: Higgs SOCIAL
Type: DiGraph
Number of nodes: 456626
Number of edges: 14855842
Average in degree:  32.5339
Average out degree:  32.5339

### Extract causal multilayer graph activated components

In [152]:
def create_layered_graph(input_df, freq=1, unit='min', action='RT', social_graph=None):
    
    def round_df(df, freq, unit):
        mul = 1
        if unit == 'min':
            mul = 60
            unit = 'Min'
            
        elif unit == 'hour':
            mul = 60 * 60
            unit = 'H'
            
        elif unit == 'day':
            mul = 60 * 60 * 24
            unit = 'D'
        else:
            mul = 1
            unit = 'S'
        
        ns_min = freq * mul * 1000000000
        idx = pd.DatetimeIndex(((df.index.astype(np.int64) // ns_min) * ns_min))
        df.index = idx
        return df, unit


    def create_layers(df, freq, unit):
        # Trick: use pandas resample to generate continuous indexes
        dfR = df.resample(str(freq) + unit) 
        layer_map = dict(itertools.izip(dfR.index.astype(np.int64), itertools.count()))
        df['layer'] = np.vectorize(lambda x: layer_map[x])(df.index.astype(np.int64))
        # delta between layers (timedelta)
        delta = dfR.index[1] - dfR.index[0]
        return df, delta

    
    h = nx.DiGraph()
    h.name = 'Higgs layered ' + action + ' - ' + str(freq) + ' ' + unit
    
    df = input_df.copy()
    if action != '' and action is not None:
        df = df[df['action'] == action]
    
    df, unit = round_df(df, freq, unit)
    df, delta_ts = create_layers(df, freq, unit)
    # Maximum id in whole dataframe, min should not be 0
    max_id = np.max(np.max(df[['src_id', 'tgt_id']]).values)
    
    for idx, row in df.iterrows():
        base_src = row['src_id']
        base_tgt = row['tgt_id']
        layer = row['layer']
        act = row['action']
        
        if act == 'RT':  # invert edges
            base_src, base_tgt = base_tgt, base_src
        
        src = base_src + (layer * max_id)
        tgt = base_tgt + ((layer + 1) * max_id)
        
        # Add nodes
        h.add_node(src, {'base_id': base_src, 'layer': layer, 'timestamp': idx})
        h.add_node(tgt, {'base_id': base_tgt, 'layer': layer + 1, 'timestamp': idx + delta_ts})
        
        # Add edge
        e_d = dict()
        if social_graph is not None:
            if social_graph.has_edge(base_src, base_tgt):
                e_d['is_social'] = True
            else:
                e_d['is_social'] = False
            
        h.add_edge(src, tgt, e_d)
        
    return h, df


def extract_components(h):
    components = filter(lambda x: x.number_of_edges() >= 1 and x.number_of_nodes() >= 2, 
                    nx.weakly_connected_component_subgraphs(h))
    res = []
    for i, comp in enumerate(components):
        comp.name = i
        res.append({'component': comp})
        
    df = pd.DataFrame(res)
    df.index.name = 'component_id'
    return df


def enrich_components(df, with_social=False):
    
    def get_period_span(c):
        ts = sorted(nx.get_node_attributes(c, 'timestamp').values())
        return (ts[0], ts[-1])
    
    def get_social_edge_ratio(c):
        social_edges = sum(nx.get_edge_attributes(c, 'is_social').values())  # True == 1, False 0
        return social_edges / float(c.number_of_edges())
        
    df['node_count'] = df['component'].apply(lambda x: x.number_of_nodes())
    df['edge_count'] = df['component'].apply(lambda x: x.number_of_edges())
    df['height'] = df['component'].apply(lambda x: len(np.unique(nx.get_node_attributes(x, 'base_id').values())))
    df['width'] = df['component'].apply(lambda x: len(np.unique(nx.get_node_attributes(x, 'layer').values())))
    period_series = df['component'].apply(get_period_span)
    df['start'] = period_series.apply(lambda x: x[0])
    df['end'] = period_series.apply(lambda x: x[1])
    df['social_ratio'] = df['component'].apply(get_social_edge_ratio)
    
    return df.sort('node_count', ascending=False)


def create_activated_components(input_df, freq=1, unit='min', action='RT', social_graph=None):
    h, _ = create_layered_graph(input_df, freq, unit, action, social_graph)
    comp_df = extract_components(h)
    with_social = True if social_graph is not None else False
    return enrich_components(comp_df, with_social)

In [130]:
COMPS = create_activated_components(ACTIVITY, 10, 'min', 'MT', SOCIAL)

In [154]:
COMPS = enrich_components(COMPS, True)
COMPS[COMPS['size'] > 3]

,component,size,height,width,node_count,edge_count,start,end,social_ratio
component_id,,,,,,,,,
17,"(221211307, 220921493, 218857479, 221160318, 2...",18467,12869,31,18467,21620,2012-07-04 03:30:00,2012-07-04 08:30:00,0.514524
62,"(233191424, 233582592, 232071023, 233166856, 2...",891,819,7,891,943,2012-07-04 09:50:00,2012-07-04 10:50:00,0.394486
211,"(240406532, 241124353, 238837769, 241111050, 2...",797,734,8,797,835,2012-07-04 12:10:00,2012-07-04 13:20:00,0.508982
498,"(229695488, 229658625, 229236738, 229779460, 2...",693,636,6,693,747,2012-07-04 08:20:00,2012-07-04 09:10:00,0.488621
1381,"(242849792, 242886657, 242898951, 242464777, 2...",442,418,5,442,465,2012-07-04 13:20:00,2012-07-04 14:00:00,0.619355
374,"(237561856, 238266378, 238243858, 238219285, 2...",421,396,4,421,444,2012-07-04 11:40:00,2012-07-04 12:10:00,0.378378
164,"(235100166, 235558920, 234819601, 235982866, 2...",407,378,4,407,438,2012-07-04 10:40:00,2012-07-04 11:10:00,0.367580
445,"(231505921, 231892995, 231962456, 231090194, 2...",367,338,5,367,379,2012-07-04 09:20:00,2012-07-04 10:00:00,0.490765
1360,"(243378438, 243018758, 243039239, 244140716, 2...",319,307,6,319,342,2012-07-04 13:30:00,2012-07-04 14:20:00,0.567251
423,"(230220211, 230161410, 230485509, 230797830, 2...",275,259,3,275,287,2012-07-04 09:00:00,2012-07-04 09:20:00,0.498258
1706,"(252540417, 251981314, 252073643, 251780613, 2...",270,254,5,270,317,2012-07-04 16:50:00,2012-07-04 17:30:00,0.302839
797,"(236603908, 236985349, 237024262, 236906503, 2...",266,251,4,266,279,2012-07-04 11:20:00,2012-07-04 11:50:00,0.476703
1823,"(179488256, 181291521, 178876418, 179949571, 1...",264,197,9,264,320,2012-07-03 14:10:00,2012-07-03 15:30:00,0.462500
34,"(230995969, 230823425, 230688776, 230628361, 2...",235,229,3,235,259,2012-07-04 09:10:00,2012-07-04 09:30:00,0.563707
719,"(237043712, 237194241, 237053954, 237431299, 2...",203,200,4,203,209,2012-07-04 11:30:00,2012-07-04 12:00:00,0.406699
4824,"(243715073, 244162052, 243526665, 244015447, 2...",185,179,3,185,193,2012-07-04 14:00:00,2012-07-04 14:20:00,0.559585
3584,"(239912449, 240176645, 240315912, 239826955, 2...",184,179,3,184,191,2012-07-04 12:40:00,2012-07-04 13:00:00,0.376963
332,"(109159425, 110042116, 110534153, 110728204, 1...",177,152,7,177,198,2012-07-02 12:40:00,2012-07-02 13:40:00,0.353535
1510,"(238478854, 238364077, 238456348, 238607392, 2...",155,152,3,155,159,2012-07-04 12:00:00,2012-07-04 12:20:00,0.440252
7949,"(239725063, 239468552, 239660045, 239733934, 2...",150,139,5,150,161,2012-07-04 12:10:00,2012-07-04 12:50:00,0.372671
422,"(242116109, 241613842, 241899028, 241732270, 2...",150,150,3,150,155,2012-07-04 13:10:00,2012-07-04 13:30:00,0.535484
973,"(244403720, 244663305, 244980199, 244748303, 2...",150,147,2,150,152,2012-07-04 14:20:00,2012-07-04 14:30:00,0.592105
583,"(246455809, 246660104, 246120969, 246340109, 2...",144,142,3,144,145,2012-07-04 14:50:00,2012-07-04 15:10:00,0.544828
318,"(247166978, 246844933, 247089672, 247773707, 2...",143,142,4,143,145,2012-07-04 15:10:00,2012-07-04 15:40:00,0.724138
2277,"(256461826, 255757836, 255972366, 255796240, 2...",143,141,2,143,161,2012-07-04 18:30:00,2012-07-04 18:40:00,0.385093
1904,"(245781590, 245902352, 245992472, 245661211, 2...",130,122,3,130,133,2012-07-04 14:40:00,2012-07-04 15:00:00,0.406015
1266,"(254703105, 254571522, 254469600, 254467501, 2...",129,128,3,129,136,2012-07-04 17:50:00,2012-07-04 18:10:00,0.308824
1750,"(235502595, 235271686, 235209223, 235562509, 2...",114,111,2,114,123,2012-07-04 11:00:00,2012-07-04 11:10:00,0.463415
453,"(58380815, 58198546, 58697751, 58163744, 58013...",108,108,2,108,107,2012-07-01 18:20:00,2012-07-01 18:30:00,0.859813
4386,"(254194691, 254305285, 254246407, 254049805, 2...",107,107,3,107,122,2012-07-04 17:40:00,2012-07-04 18:00:00,0.344262
...,...,...,...,...,...,...,...,...,...
33575,"(585497276, 585877621, 585849710, 585587543)",4,4,2,4,3,2012-07-09 18:50:00,2012-07-09 19:00:00,0.333333
33590,"(299745216, 299544803, 299687446, 300001422)",4,3,2,4,3,2012-07-05 10:30:00,2012-07-05 10:40:00,0.666667
30966,"(485106705, 485588842, 485394214, 485132223)",4,3,2,4,4,2012-07-08 06:10:00,2012-07-08 06:20:00,0.250000
33526,"(367431012, 367634259, 367640203, 367627470)",4,4,2,4,3,2012-07-06 11:10:00,2012-07-06 11:20:00,0.666667
13170,"(179979544, 180079848, 180289772, 180391941)",4,4,2,4,3,2012-07-03 14:50:00,2012-07-03 15:00:00,0.000000
28941,"(230140641, 230641684, 229867213, 229728446)",4,3,3,4,3,2012-07-04 09:00:00,2012-07-04 09:20:00,1.000000
35829,"(254922112, 255165203, 254465493, 254251965)",4,2,3,4,3,2012-07-04 17:50:00,2012-07-04 18:10:00,0.666667
28935,"(269421671, 269810484, 269574309, 269897045)",4,4,2,4,3,2012-07-04 23:30:00,2012-07-04 23:40:00,0.333333
46522,"(306963552, 306877385, 307309700, 307307257)",4,4,2,4,3,2012-07-05 13:10:00,2012-07-05 13:20:00,0.333333
31974,"(259816459, 259669860, 259669861, 259624742)",4,4,2,4,3,2012-07-04 19:50:00,2012-07-04 20:00:00,0.666667
29041,"(304606928, 304625042, 304177723, 305112922)",4,4,3,4,3,2012-07-05 12:10:00,2012-07-05 12:30:00,0.666667
12252,"(421918897, 421868324, 421692998, 421920649)",4,4,2,4,3,2012-07-07 07:00:00,2012-07-07 07:10:00,0.666667
8422,"(318265457, 318177114, 318017884, 317961762)",4,4,2,4,3,2012-07-05 17:10:00,2012-07-05 17:20:00,0.333333
39301,"(376276738, 376733357, 376263446, 376766551)",4,3,2,4,3,2012-07-06 14:30:00,2012-07-06 14:40:00,1.000000
33516,"(449423161, 449774083, 449450460, 449771703)",4,4,2,4,3,2012-07-07 17:10:00,2012-07-07 17:20:00,1.000000
46512,"(655705104, 655393049, 655528842, 655248487)",4,4,2,4,3,2012-07-10 20:20:00,2012-07-10 20:30:00,1.000000
12245,"(234782193, 234729889, 233868955, 234362399)",4,3,3,4,3,2012-07-04 10:30:00,2012-07-04 10:50:00,1.000000
39305,"(189102657, 189054082, 189502078, 189465023)",4,4,2,4,3,2012-07-03 18:10:00,2012-07-03 18:20:00,0.666667
46505,"(223755734, 224039773, 224212318, 223782327)",4,4,2,4,3,2012-07-04 06:50:00,2012-07-04 07:00:00,1.000000
46676,"(292242240, 292019408, 291853242, 292722399)",4,4,3,4,3,2012-07-05 07:40:00,2012-07-05 08:00:00,0.333333
30975,"(261193601, 260852631, 261041614, 260853001)",4,4,2,4,3,2012-07-04 20:20:00,2012-07-04 20:30:00,0.666667
15020,"(231978640, 232104305, 231777829, 231846967)",4,4,2,4,3,2012-07-04 09:40:00,2012-07-04 09:50:00,0.333333
41680,"(348422225, 348568556, 348878844, 349025175)",4,2,2,4,3,2012-07-06 04:20:00,2012-07-06 04:30:00,0.666667
35788,"(329226018, 329244655, 329227634, 328846519)",4,4,2,4,3,2012-07-05 21:10:00,2012-07-05 21:20:00,0.333333
35873,"(243912272, 244291386, 244059798, 244028895)",4,4,2,4,3,2012-07-04 14:10:00,2012-07-04 14:20:00,0.666667
41704,"(586463354, 585969803, 586298884, 586006735)",4,3,2,4,3,2012-07-09 19:00:00,2012-07-09 19:10:00,0.666667
14182,"(247472218, 247362694, 247503958, 247069399)",4,4,2,4,3,2012-07-04 15:20:00,2012-07-04 15:30:00,1.000000
39300,"(224528994, 224333044, 224356974, 224710839)",4,4,2,4,3,2012-07-04 07:00:00,2012-07-04 07:10:00,0.666667
28960,"(319806272, 319784145, 320091933, 319830743)",4,4,2,4,3,2012-07-05 17:50:00,2012-07-05 18:00:00,0.333333
41665,"(232684088, 232766436, 232928572, 232468663)",4,4,2,4,3,2012-07-04 10:00:00,2012-07-04 10:10:00,0.000000

## Analysis

### Overlap between retweet and social network

In [4]:
def overlap_graph(g1, g2):
    common_edges = 0
    for u, v in g1.edges_iter():
        if g2.has_edge(u, v):
            common_edges += 1

    res = common_edges * 100 / float(nx.number_of_edges(g1))
    print 'Percentage of overlap (', g1.name, ',', g2.name, '):', res
    print 'Number of common edges:', common_edges
    return res, common_edges

# overlap_graph(REPLY, SOCIAL)
overlap_graph(RETWEET, SOCIAL)
# overlap_graph(MENTION, SOCIAL)

Percentage of overlap ( Higgs RT , Higgs SOCIAL ): 59.1912820758
Number of common edges: 197822

(59.191282075833016, 197822)