## Higgs dataset preprocessing

From the paper:

[M. De Domenico, A. Lima, P. Mougel and M. Musolesi. The Anatomy of a Scientific Rumor. (Nature Open Access) Scientific Reports 3, 2980 (2013).](http://www.nature.com/srep/2013/131018/srep02980/full/srep02980.html)

In [33]:
import os
import time
import numpy as np
import scipy as sp
import pandas as pd
import networkx as nx
import matplotlib as mpl
import matplotlib.pyplot as plt
import datetime as dt
import itertools


# Customize plot colors for dark backgrounds
%matplotlib inline
mpl.rcParams['axes.edgecolor'] = 'grey'
mpl.rcParams['grid.color'] = '#66CCCC'
mpl.rcParams['text.color'] = '#0EBFE9'
mpl.rcParams['xtick.color'] = '#66CCCC'
mpl.rcParams['ytick.color'] = '#66CCCC'
mpl.rcParams['axes.labelcolor'] = '#0EBFE9'

import IPython.utils.path
DATA_DIR = os.path.join(IPython.utils.path.get_home_dir(), 'data/higgs/')
print 'Data directory:', DATA_DIR
dataset_name = 'higgs'

%load_ext autoreload
%autoreload 2

Data directory: /home/ubuntu/data/higgs/
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Helper functions

In [169]:
def create_layered_graph(input_df, freq=1, unit='min', action='RT', social_graph=None):
    
    def round_df(df, freq, unit):
        mul = 1
        if unit == 'min':
            mul = 60
            unit = 'Min'
            
        elif unit == 'hour':
            mul = 60 * 60
            unit = 'H'
            
        elif unit == 'day':
            mul = 60 * 60 * 24
            unit = 'D'
        else:
            mul = 1
            unit = 'S'
        
        ns_min = freq * mul * 1000000000
        idx = pd.DatetimeIndex(((df.index.astype(np.int64) // ns_min) * ns_min))
        df.index = idx
        return df, unit


    def create_layers(df, freq, unit):
        # Trick: use pandas resample to generate continuous indexes
        dfR = df.resample(str(freq) + unit) 
        layer_map = dict(itertools.izip(dfR.index.astype(np.int64), itertools.count()))
        df['layer'] = np.vectorize(lambda x: layer_map[x])(df.index.astype(np.int64))
        # delta between layers (timedelta)
        delta = dfR.index[1] - dfR.index[0]
        return df, delta

    
    h = nx.DiGraph()
    h.name = 'Higgs layered ' + action + ' - ' + str(freq) + ' ' + unit
    
    df = input_df.copy()
    if action != '' and action is not None:
        df = df[df['action'] == action]
    
    df, unit = round_df(df, freq, unit)
    df, delta_ts = create_layers(df, freq, unit)
    # Maximum id in whole dataframe, min should not be 0
    max_id = np.max(np.max(df[['src_id', 'tgt_id']]).values)
    
    for idx, row in df.iterrows():
        base_src = row['src_id']
        base_tgt = row['tgt_id']
        layer = row['layer']
        act = row['action']
        
        if act == 'RT':  # invert edges
            base_src, base_tgt = base_tgt, base_src
        
        src = base_src + (layer * max_id)
        tgt = base_tgt + ((layer + 1) * max_id)
        
        # Add nodes
        h.add_node(src, {'base_id': base_src, 'layer': layer, 'timestamp': idx})
        h.add_node(tgt, {'base_id': base_tgt, 'layer': layer + 1, 'timestamp': idx + delta_ts})
        
        # Add edge
        e_d = {'action': act, 'timestamp': idx}
        if social_graph is not None:
            if social_graph.has_edge(base_src, base_tgt):
                e_d['is_social'] = True
            else:
                e_d['is_social'] = False
            
        h.add_edge(src, tgt, e_d)
        
    return h, df


def extract_components(h):
    components = filter(lambda x: x.number_of_edges() >= 1 and x.number_of_nodes() >= 2, 
                    nx.weakly_connected_component_subgraphs(h))
    res = []
    for i, comp in enumerate(components):
        comp.name = i
        res.append({'component': comp})
        
    df = pd.DataFrame(res)
    df.index.name = 'component_id'
    return df


def enrich_components(df, with_social=False):
    
    def get_period_span(c):
        ts = sorted(nx.get_node_attributes(c, 'timestamp').values())
        return (ts[0], ts[-1])
    
    def get_social_edge_ratio(c):
        social_edges = sum(nx.get_edge_attributes(c, 'is_social').values())  # True == 1, False 0
        return social_edges / float(c.number_of_edges())
        
    df['node_count'] = df['component'].apply(lambda x: x.number_of_nodes())
    df['edge_count'] = df['component'].apply(lambda x: x.number_of_edges())
    df['height'] = df['component'].apply(lambda x: len(np.unique(nx.get_node_attributes(x, 'base_id').values())))
    df['width'] = df['component'].apply(lambda x: len(np.unique(nx.get_node_attributes(x, 'layer').values())))
    period_series = df['component'].apply(get_period_span)
    df['start'] = period_series.apply(lambda x: x[0])
    df['end'] = period_series.apply(lambda x: x[1])
    df['social_ratio'] = df['component'].apply(get_social_edge_ratio)
    
    return df.sort('node_count', ascending=False)


def create_activated_components(input_df, freq=1, unit='min', action='RT', social_graph=None):
    h, _ = create_layered_graph(input_df, freq, unit, action, social_graph)
    comp_df = extract_components(h)
    with_social = True if social_graph is not None else False
    return enrich_components(comp_df, with_social)


def create_graph_from_activity(activity_df, action='RT'):
    g = nx.DiGraph()
    df = activity_df[activity_df['action'] == action]
    g.name = 'Higgs ' + action
    for idx, d in df.iterrows():
        src = d['src_id']
        tgt = d['tgt_id']
        if not g.has_edge(src, tgt):
            g.add_edge(src, tgt, weight=1)
        else:
            g[src][tgt]['weight'] += 1

    return g

## Parse data

### Parse activity

In [2]:
ACTIVITY = pd.read_csv(os.path.join(DATA_DIR, 'HiggsDiscovery_multiplex_time.txt'), 
                       sep=' ', header=None, names=['src_id', 'tgt_id', 'timestamp', 'action'],
                       dtype={'src_id': np.int64, 'tgt_id': np.int64, 'timestamp': np.int64, 'action': str},
                       index_col=2)

ACTIVITY['action'] = ACTIVITY['action'].astype(str)
ACTIVITY.index = pd.to_datetime(ACTIVITY.index.values * 1e9)
ACTIVITY.index.name = 'timestamp'
# G = create_graph_from_activity(ACTIVITY, 'RT')
# print nx.info(G)

In [180]:
ACTIVITY

                     src_id  tgt_id action
timestamp
2012-06-30 21:11:45  239867  170103     RT
2012-06-30 21:12:02  369507    3369     MT
2012-06-30 21:12:08  391289   19913     MT
2012-06-30 21:12:09   62391   26398     MT
2012-06-30 21:12:09   62391     511     RT
2012-06-30 21:12:09   62391   15285     MT
2012-06-30 21:13:57  188419       8     MT
2012-06-30 21:14:08  283854    9682     RT
2012-06-30 21:14:12   11735   13821     RT
2012-06-30 21:18:34  229150    3604     RT
2012-06-30 21:19:01   81405     519     RT
2012-06-30 21:20:22     553     519     RT
2012-06-30 21:23:23  402871   11991     RT
2012-06-30 21:25:32  168820   13813     RT
2012-06-30 21:26:21  128322    5011     MT
2012-06-30 21:27:03  275431       8     RT
2012-06-30 21:28:38  413203     519     RT
2012-06-30 21:30:15  378366     519     RT
2012-06-30 21:30:50   80579     519     RT
2012-06-30 21:32:29   81882       8     RT
2012-06-30 21:33:39  140517     519     RT
2012-06-30 21:36:37   35144     519     MT
2012-06-30 21:37:30  285443    3604     RT
2012-06-30 21:40:26  166169    3604     RT
2012-06-30 21:40:42  395826    4665     RT
2012-06-30 21:41:13  293325  286506     MT
2012-06-30 21:41:31  386123  102425     RT
2012-06-30 21:41:38  156480    2417     MT
2012-06-30 21:42:21  395826   26139     MT
2012-06-30 21:42:51  109486     519     RT
...                     ...     ...    ...
2012-07-10 20:50:23  271019     310     MT
2012-07-10 20:50:43   74854   30374     MT
2012-07-10 20:50:43   74854   30374     RE
2012-07-10 20:51:15  127093     325     MT
2012-07-10 20:51:53  180032     222     RT
2012-07-10 20:51:53  180032     220     MT
2012-07-10 20:52:05  364050     310     MT
2012-07-10 20:52:30   44416      19     RT
2012-07-10 20:52:30   44416     381     MT
2012-07-10 20:52:45  133087    2696     MT
2012-07-10 20:53:52  169521  170862     MT
2012-07-10 20:53:52  169521   29252     MT
2012-07-10 20:53:52  169521   29252     RE
2012-07-10 20:54:10   72650   26357     RT
2012-07-10 20:54:24   24607  207711     MT
2012-07-10 20:54:37   56923     374     RT
2012-07-10 20:55:31  313669  313669     MT
2012-07-10 20:56:28  169214     374     RT
2012-07-10 20:57:06  179258     222     RT
2012-07-10 20:57:06  179258     220     MT
2012-07-10 20:57:36  355509     374     RT
2012-07-10 20:57:50  102224  132191     RT
2012-07-10 20:57:52  131911   19861     MT
2012-07-10 20:58:05   10024     374     MT
2012-07-10 20:58:11  133513     222     RT
2012-07-10 20:58:11  133513     220     MT
2012-07-10 20:58:28  438775     832     RT
2012-07-10 20:58:28  438775  110795     MT
2012-07-10 20:58:29   30615    9139     RT
2012-07-10 20:59:43   93751     374     RT

[579703 rows x 3 columns]

In [29]:
G = create_graph_from_activity(ACTIVITY, 'RE')
print nx.info(G)

Name: Higgs RE
Type: DiGraph
Number of nodes: 39940
Number of edges: 33728
Average in degree:   0.8445
Average out degree:   0.8445

### Parse retweet graph

In [3]:
start = time.time()
# path = os.path.join(DATA_DIR, 'HiggsDiscovery_RT.edges.gz')
# RETWEET = nx.read_edgelist(path, create_using=nx.DiGraph(),
#                            nodetype=int, data=(('weight', int),))
# RETWEET.name = 'Higgs RT'
# nx.write_gpickle(RETWEET, os.path.join(DATA_DIR, 'retweet.gpickle'))
RETWEET = nx.read_gpickle(os.path.join(DATA_DIR, 'retweet.gpickle'))
print 'Retweet graph loaded in:', time.time() - start
print nx.info(RETWEET)

Retweet graph loaded in: 9.10212087631
Name: Higgs RT
Type: DiGraph
Number of nodes: 257827
Number of edges: 334208
Average in degree:   1.2962
Average out degree:   1.2962

### Parse mention graph

In [25]:
start = time.time()
# MENTION = nx.read_edgelist(os.path.join(DATA_DIR, 'HiggsDiscovery_MT.edges.gz'), 
#                            create_using=nx.DiGraph(), nodetype=int, data=(('weight', int),))
# MENTION.name = 'Higgs MT'
# nx.write_gpickle(MENTION, os.path.join(DATA_DIR, 'mention.gpickle'))

MENTION = nx.read_gpickle(os.path.join(DATA_DIR, 'mention.gpickle'))
print 'Mention graph loaded in:', time.time() - start
print nx.info(MENTION)

Mention graph loaded in: 7.37287902832
Name: Higgs MT
Type: DiGraph
Number of nodes: 118659
Number of edges: 156371
Average in degree:   1.3178
Average out degree:   1.3178

### Parse reply graph

In [28]:
start = time.time()
# REPLY = nx.read_edgelist(os.path.join(DATA_DIR, 'HiggsDiscovery_RE.edges.gz'),
#                          create_using=nx.DiGraph(), nodetype=int, data=(('weight', int),))
# REPLY.name = 'Higgs RE'
# nx.write_gpickle(REPLY, os.path.join(DATA_DIR, 'reply.gpickle'))

REPLY = nx.read_gpickle(os.path.join(DATA_DIR, 'reply.gpickle'))
print 'Reply graph loaded in:', time.time() - start
print nx.info(REPLY)

Reply graph loaded in: 1.68447113037
Name: Higgs RE
Type: DiGraph
Number of nodes: 39940
Number of edges: 33728
Average in degree:   0.8445
Average out degree:   0.8445

### Parse social network (follower network)

In [91]:
start = time.time()
# SOCIAL = nx.read_edgelist(os.path.join(DATA_DIR, 'HiggsDiscovery_social.edges.gz'),
#                           create_using=nx.DiGraph(), nodetype=int, )
# SOCIAL.name = 'Higgs SOCIAL'
# nx.write_gpickle(SOCIAL, os.path.join(DATA_DIR, 'social.gpickle'))

SOCIAL = nx.read_gpickle(os.path.join(DATA_DIR, 'social.gpickle'))
print 'Social graph loaded in:', time.time() - start
print nx.info(SOCIAL)

Social graph loaded in: 56.2548730373
Name: Higgs SOCIAL
Type: DiGraph
Number of nodes: 456626
Number of edges: 14855842
Average in degree:  32.5339
Average out degree:  32.5339

## Analysis


- Period I: Before the announcement on 2nd July, there were some rumors about the discovery of a Higgs-like boson at Tevatron;


- Period II: On 2nd July at 1 PM GMT, scientists from CDF and D0 experiments, based at Tevatron, presented results indicating that the Higgs particle should have a mass between 115 and 135 GeV/c2 (corresponding to about 123-144 times the mass of the proton) [7];


- Period III: After 2nd July and before 4th of July there were many rumors about the Higgs boson dis- covery at LHC [8];


- Period IV: The main event was the announce- ment on 4th July at 8 AM GMT by the scientists from the ATLAS and CMS experiments, based at CERN, presenting results indicating the existence of a new particle, compatible with the Higgs bo- son, with mass around 125 GeV/c2 [9, 10]. After 4th July, popular media covered the event.

### Extract causal multilayer graph activated components

In [188]:
COMPS = create_activated_components(ACTIVITY, 10, 'min', 'RT', SOCIAL)

In [189]:
COMPS

,component,node_count,edge_count,height,width,start,end,social_ratio
component_id,,,,,,,,
14,"(223084549, 219807756, 225574925, 225574926, 2...",52292,57813,36425,26,2012-07-04 04:40:00,2012-07-04 08:50:00,0.051684
181,"(241098758, 241111041, 242352136, 241262602, 2...",3170,3259,2965,7,2012-07-04 12:50:00,2012-07-04 13:50:00,0.021479
1937,"(230588416, 229695491, 229826564, 230170633, 2...",2161,2237,2091,5,2012-07-04 08:40:00,2012-07-04 09:20:00,0.032633
317,"(235659264, 234274824, 235560970, 235659277, 2...",1951,2003,1834,7,2012-07-04 10:30:00,2012-07-04 11:30:00,0.033450
809,"(243146752, 243777539, 242466825, 243458058, 2...",1943,2004,1887,6,2012-07-04 13:30:00,2012-07-04 14:20:00,0.020958
31,"(238034949, 237453321, 237985806, 237281300, 2...",1720,1772,1632,6,2012-07-04 11:20:00,2012-07-04 12:10:00,0.025959
387,"(239626240, 239917060, 239818757, 239333382, 2...",1338,1368,1287,4,2012-07-04 12:20:00,2012-07-04 12:50:00,0.024123
2261,"(233361408, 233007104, 233074530, 232879787, 2...",1307,1333,1275,5,2012-07-04 09:50:00,2012-07-04 10:30:00,0.024006
155,"(234611571, 233873409, 233805827, 233880505, 2...",1233,1269,1191,5,2012-07-04 10:10:00,2012-07-04 10:50:00,0.015760
592,"(247525376, 247898113, 247666136, 248178695, 2...",1218,1227,1211,5,2012-07-04 15:20:00,2012-07-04 16:00:00,0.008150
487,"(217841666, 217719467, 217747460, 218294277, 2...",1130,1162,1048,5,2012-07-04 04:10:00,2012-07-04 04:50:00,0.036145
29,"(245778432, 245760001, 246474756, 246159365, 2...",1054,1069,1035,4,2012-07-04 14:40:00,2012-07-04 15:10:00,0.021515
1534,"(229238787, 229656918, 229468167, 229484558, 2...",964,993,963,3,2012-07-04 08:40:00,2012-07-04 09:00:00,0.025176
279,"(244787121, 244300461, 245010448, 244887569, 2...",929,951,924,4,2012-07-04 14:10:00,2012-07-04 14:40:00,0.012618
1440,"(246710274, 246988804, 246618118, 246708232, 2...",918,978,875,4,2012-07-04 14:50:00,2012-07-04 15:20:00,0.110429
26,"(244469762, 244381701, 244566022, 244693001, 2...",898,904,898,3,2012-07-04 14:10:00,2012-07-04 14:30:00,0.039823
55,"(232732675, 232835077, 232628230, 232504321, 2...",810,839,804,6,2012-07-04 09:40:00,2012-07-04 10:30:00,0.015495
5605,"(244156416, 244187136, 244219906, 244008965, 2...",749,769,748,3,2012-07-04 14:00:00,2012-07-04 14:20:00,0.014304
46,"(245688320, 245696518, 245610504, 245303310, 2...",691,699,689,3,2012-07-04 14:30:00,2012-07-04 14:50:00,0.012876
1152,"(230846465, 230641666, 230186667, 230946823, 2...",675,693,674,4,2012-07-04 09:00:00,2012-07-04 09:30:00,0.011544
3767,"(231518209, 232118281, 232139095, 232261645, 2...",650,669,650,4,2012-07-04 09:40:00,2012-07-04 10:10:00,0.017937
964,"(236564483, 236728325, 236097542, 236615688, 2...",631,641,631,4,2012-07-04 11:10:00,2012-07-04 11:40:00,0.020281
90,"(247040007, 247283373, 247343122, 247447572, 2...",615,628,615,4,2012-07-04 15:00:00,2012-07-04 15:30:00,0.015924
1495,"(238518276, 238770181, 238501894, 238780041, 2...",611,627,611,3,2012-07-04 12:00:00,2012-07-04 12:20:00,0.006380
4247,"(239726593, 240244742, 240474113, 240519179, 2...",555,572,555,3,2012-07-04 12:40:00,2012-07-04 13:00:00,0.015734
99,"(231907329, 231647235, 231626756, 231794696, 2...",544,556,543,3,2012-07-04 09:30:00,2012-07-04 09:50:00,0.025180
2262,"(231401473, 231407618, 231079937, 231483404, 2...",508,519,507,4,2012-07-04 09:10:00,2012-07-04 09:40:00,0.028902
222,"(253691905, 253599749, 253603847, 253546506, 2...",485,489,485,2,2012-07-04 17:30:00,2012-07-04 17:40:00,0.004090
5230,"(240701445, 240719878, 240185357, 240646162, 2...",476,483,475,3,2012-07-04 12:50:00,2012-07-04 13:10:00,0.016563
611,"(252626948, 252055557, 252866567, 252055564, 2...",454,457,451,4,2012-07-04 17:00:00,2012-07-04 17:30:00,0.013129
...,...,...,...,...,...,...,...,...
55021,"(234493909, 235081894)",2,1,2,2,2012-07-04 10:40:00,2012-07-04 10:50:00,1.000000
55020,"(275383011, 274927781)",2,1,2,2,2012-07-05 01:30:00,2012-07-05 01:40:00,0.000000
55019,"(126238608, 126822190)",2,1,2,2,2012-07-02 19:10:00,2012-07-02 19:20:00,0.000000
55018,"(246616217, 247322321)",2,1,2,2,2012-07-04 15:10:00,2012-07-04 15:20:00,0.000000
55048,"(239276346, 238813783)",2,1,2,2,2012-07-04 12:20:00,2012-07-04 12:30:00,0.000000
55049,"(463079712, 463671613)",2,1,2,2,2012-07-07 22:10:00,2012-07-07 22:20:00,1.000000
55050,"(377171543, 377688383)",2,1,2,2,2012-07-06 14:50:00,2012-07-06 15:00:00,1.000000
55051,"(304288064, 304774466)",2,1,2,2,2012-07-05 12:10:00,2012-07-05 12:20:00,0.000000
55079,"(317919666, 318635050)",2,1,2,2,2012-07-05 17:10:00,2012-07-05 17:20:00,0.000000
55078,"(235307243, 235082150)",2,1,2,2,2012-07-04 10:50:00,2012-07-04 11:00:00,0.000000
55076,"(236854745, 236130718)",2,1,2,2,2012-07-04 11:20:00,2012-07-04 11:30:00,1.000000
55075,"(226693533, 226278078)",2,1,2,2,2012-07-04 07:40:00,2012-07-04 07:50:00,1.000000
55072,"(304902554, 304288149)",2,1,2,2,2012-07-05 12:10:00,2012-07-05 12:20:00,0.000000
55071,"(237179283, 237461612)",2,1,2,2,2012-07-04 11:40:00,2012-07-04 11:50:00,1.000000
55070,"(266996030, 266539407)",2,1,2,2,2012-07-04 22:20:00,2012-07-04 22:30:00,1.000000
55069,"(279122312, 279865606)",2,1,2,2,2012-07-05 03:00:00,2012-07-05 03:10:00,0.000000
55068,"(283316603, 282655989)",2,1,2,2,2012-07-05 04:20:00,2012-07-05 04:30:00,0.000000
55067,"(321144145, 320602625)",2,1,2,2,2012-07-05 18:10:00,2012-07-05 18:20:00,0.000000
55064,"(239276404, 238819757)",2,1,2,2,2012-07-04 12:20:00,2012-07-04 12:30:00,1.000000
55063,"(171381796, 170776636)",2,1,2,2,2012-07-03 11:30:00,2012-07-03 11:40:00,0.000000
55062,"(286825898, 287343333)",2,1,2,2,2012-07-05 05:50:00,2012-07-05 06:00:00,0.000000
55061,"(239276379, 240111300)",2,1,2,2,2012-07-04 12:30:00,2012-07-04 12:40:00,0.000000
55059,"(218791586, 219353428)",2,1,2,2,2012-07-04 05:00:00,2012-07-04 05:10:00,0.000000
55058,"(196284752, 195876108)",2,1,2,2,2012-07-03 20:30:00,2012-07-03 20:40:00,0.000000
55056,"(228311307, 228790606)",2,1,2,2,2012-07-04 08:30:00,2012-07-04 08:40:00,0.000000
55055,"(340382825, 339726831)",2,1,2,2,2012-07-06 01:10:00,2012-07-06 01:20:00,0.000000
55054,"(483137772, 483594566)",2,1,2,2,2012-07-08 05:30:00,2012-07-08 05:40:00,1.000000
55053,"(268081441, 267587909)",2,1,2,2,2012-07-04 22:50:00,2012-07-04 23:00:00,0.000000
55052,"(229277345, 228790596)",2,1,2,2,2012-07-04 08:40:00,2012-07-04 08:50:00,1.000000
131952,"(230685896, 230161901)",2,1,2,2,2012-07-04 09:10:00,2012-07-04 09:20:00,0.000000

In [192]:
FILT_COMPS = COMPS[COMPS['node_count'] > 20]  # filter too small components
C = FILT_COMPS.set_index('start', drop=False).sort_index()
C.resample('12H')

,node_count,edge_count,height,width,social_ratio
start,,,,,
2012-07-01 12:00:00,35.333333,34.333333,35.266667,2.133333,0.034048
2012-07-02 00:00:00,NaN,NaN,NaN,NaN,NaN
2012-07-02 12:00:00,40.928571,40.095238,40.857143,2.238095,0.065830
2012-07-03 00:00:00,46.000000,45.166667,46.000000,2.066667,0.006643
2012-07-03 12:00:00,45.446429,44.642857,45.142857,2.464286,0.057259
2012-07-04 00:00:00,383.564767,413.518135,298.860104,2.595855,0.035576
2012-07-04 12:00:00,99.186047,99.755814,97.912791,2.290698,0.029353
2012-07-05 00:00:00,47.400000,46.544444,47.322222,2.111111,0.017666
2012-07-05 12:00:00,47.377358,46.509434,47.311321,2.141509,0.018657
2012-07-06 00:00:00,33.166667,32.166667,33.000000,2.166667,0.038683
2012-07-06 12:00:00,45.000000,44.000000,44.909091,2.090909,0.093330
2012-07-07 00:00:00,24.000000,23.000000,24.000000,2.000000,0.000000
2012-07-07 12:00:00,25.800000,24.800000,25.600000,2.000000,0.108000
2012-07-08 00:00:00,24.000000,23.000000,24.000000,2.000000,0.130435
2012-07-08 12:00:00,25.000000,24.000000,25.000000,2.000000,0.000000
2012-07-09 00:00:00,42.000000,41.000000,42.000000,2.200000,0.014000
2012-07-09 12:00:00,43.000000,42.000000,43.000000,2.000000,0.023810
2012-07-10 00:00:00,26.000000,25.000000,26.000000,2.000000,0.000000
2012-07-10 12:00:00,27.000000,26.000000,21.000000,5.000000,0.538462

### TODO

- Create "classic" causal multilayer with our framework
- Plot spatial spread

### Overlap between retweet and social network

In [4]:
def overlap_graph(g1, g2):
    common_edges = 0
    for u, v in g1.edges_iter():
        if g2.has_edge(u, v):
            common_edges += 1

    res = common_edges * 100 / float(nx.number_of_edges(g1))
    print 'Percentage of overlap (', g1.name, ',', g2.name, '):', res
    print 'Number of common edges:', common_edges
    return res, common_edges

# overlap_graph(REPLY, SOCIAL)
overlap_graph(RETWEET, SOCIAL)
# overlap_graph(MENTION, SOCIAL)

Percentage of overlap ( Higgs RT , Higgs SOCIAL ): 59.1912820758
Number of common edges: 197822

(59.191282075833016, 197822)